

<html layout:decorate="~{layout}">
    
    <meta charset="utf-8">
    
<div layout:fragment="content" class="container my-3">

<h1> 정예진의 방명록입니다. 환영합니다. 5/19입니다</h1>
<hr>
<hr>



<table class="table">
	<thead class="table-dark">
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성일시</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="question, loop : ${questionList}">
			<td th:text="${loop.count}"></td>
			<td><a th:href="@{|/question/detail/${question.id}|}"
				th:text="${question.subject}"></a></td>
			<td th:text="${question.createDate}"></td>
		</tr>
	</tbody>
</table>

<a th:href="@{/question/create}" class="btn btn-primary"> 질문 작성하기 </a>


</div>
</body>
</html>